{% extends 'binance/base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12 p-0">
       <div class="main-header" style="margin-top: 0px;">
          <h4>General Elements</h4>
          <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
             <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
             </li>
             <li class="breadcrumb-item"><a href="#">Ana Sayfa</a>
             </li>
             <li class="breadcrumb-item"><a href="form-elements-bootstrap.html">Hesap Bilgileri</a>
             </li>
          </ol>
       </div>
    </div>
 </div>

 <div class="row">


    <!-- Textual inputs starts -->
    <div class="col-lg-12">
       <div class="card">
          <div class="card-header">
             <h5 class="card-header-text">Textual Inputs</h5>
          </div>
          <div class="card-block">
              <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6" id="chart">aaaa</div>
                        <div class="col-lg-6" id="chart">ffff</div>
                    </div>    
                </div>
                
                <div class="col-lg-12">
                    <div class="row">
                        <div class="container">
                            <div class="col-lg-4" id="settings">
                                <form action="Post">
                                <div class="form-check">
                                    <label for="chkme" class="form-check-label">
                                               <input type="checkbox" class="form-check-input" id="chkme">
                                               RSI
                                           </label>
                                 </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Lenght</label>
                                    <input type="email" class="form-control" id="rsi_lenght" aria-describedby="emailHelp" placeholder="14">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Oversold</label>
                                    <input type="email" class="form-control" id="rsi_oversold" aria-describedby="emailHelp" placeholder="30">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Overbought</label>
                                    <input type="email" class="form-control" id="rsi_overbought" aria-describedby="emailHelp" placeholder="70">
                                </div>
                                
                            </form>
                            </div>
                            <div class="col-lg-4" id="settings">
                                <form action="Post">
                                <div class="form-check">
                                    <label for="chkme" class="form-check-label">
                                               <input type="checkbox" class="form-check-input" id="chkme">
                                               MACD
                                           </label>
                                 </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Lenght</label>
                                    <input type="email" class="form-control" id="rsi_lenght" aria-describedby="emailHelp" placeholder="14">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Oversold</label>
                                    <input type="email" class="form-control" id="rsi_oversold" aria-describedby="emailHelp" placeholder="30">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Overbought</label>
                                    <input type="email" class="form-control" id="rsi_overbought" aria-describedby="emailHelp" placeholder="70">
                                </div>
                                
                            </form>
                            </div>
                            <div class="col-lg-4" id="settings">
                                <form action="Post">
                                <div class="form-check">
                                    <label for="chkme" class="form-check-label">
                                               <input type="checkbox" class="form-check-input" id="chkme">
                                               BOLİNGER
                                           </label>
                                 </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Lenght</label>
                                    <input type="email" class="form-control" id="rsi_lenght" aria-describedby="emailHelp" placeholder="14">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Oversold</label>
                                    <input type="email" class="form-control" id="rsi_oversold" aria-describedby="emailHelp" placeholder="30">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-control-label">Overbought</label>
                                    <input type="email" class="form-control" id="rsi_overbought" aria-describedby="emailHelp" placeholder="70">
                                </div>
                                
                            </form>
                            </div>



                        </div>
                    </div>
                    
                    
                </div>

              </div>
              
            
       </div>
    </div>
    <!-- Textual inputs ends -->
 </div>
    
        


    </div>
{% endblock %}