{% extends 'binance/base.html' %}

{% block content %}

<div>
   <!-- Row Starts -->
   <div class="row">
      <div class="col-sm-12 p-0">
         <div class="main-header" style="margin-top: 0px;">
            <h4>General Elements</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
               <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
               </li>
               <li class="breadcrumb-item"><a href="#">Ana Sayfa</a>
               </li>
               <li class="breadcrumb-item"><a href="form-elements-bootstrap.html">Hesap Bilgileri</a>
               </li>
            </ol>
         </div>
      </div>
   </div>
   <!-- Row end -->

   <!-- Row start -->
   <div class="row">


      <!-- Textual inputs starts -->
      <div class="col-lg-12">
         <div class="card">
            <div class="card-header">
               <h5 class="card-header-text">Textual Inputs</h5>
               
            </div>
           
            <div class="card-block">
               <form>
                  <div class="form-group row">
                     <label for="example-text-input" class="col-xs-2 col-form-label form-control-label">Text</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-search-input" class="col-xs-2 col-form-label form-control-label">Search</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-email-input" class="col-xs-2 col-form-label form-control-label">Email</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-url-input" class="col-xs-2 col-form-label form-control-label">URL</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-tel-input" class="col-xs-2 col-form-label form-control-label">Telephone</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-password-input" class="col-xs-2 col-form-label form-control-label">Password</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="password" value="hunter2" id="example-password-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-2 col-form-label form-control-label">Static Control</label>
                     <div class="col-sm-10">
                        <p class="form-control-static mb-0">email@example.com</p>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-number-input" class="col-xs-2 col-form-label form-control-label">Number</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="number" value="42" id="example-number-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-datetime-local-input" class="col-xs-2 col-form-label form-control-label">Date and time</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-date-input" class="col-xs-2 col-form-label form-control-label">Date</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-month-input" class="col-xs-2 col-form-label form-control-label">Month</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="month" value="2011-08" id="example-month-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-week-input" class="col-xs-2 col-form-label form-control-label">Week</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="week" value="2011-W33" id="example-week-input">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="example-time-input" class="col-xs-2 col-form-label form-control-label">Time</label>
                     <div class="col-sm-10">
                        <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                     </div>
                  </div>

                  <div class="form-group row v-middle">
                     <label for="example-color-input" class="col-xs-2 col-form-label form-control-label">Color</label>
                     <div class="col-sm-1">
                        <input type="color" class="" name="favcolor" value="#1b8bf9" id="example-color-input">
                     </div>
                     <div class="col-sm-9">
                        <p>note : <code>color</code> Attribute Not working in safari</p>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="file" class="col-md-2 col-form-label form-control-label">File input</label>
                     <div class="col-md-9">
                        <label for="file" class="custom-file">
                                    <input type="file" id="file" class="custom-file-input">
                                    <span class="custom-file-control"></span>
                                </label>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!-- Textual inputs ends -->
   </div>
   <!-- Row end -->

</div>
{% endblock %}


  